.header {
    @include flexbox(row,null,center);
    &__icon {
        &--disable {
            display:none;
        }
    }
    &__image {
        &--disable {
            display:none;
        }
        
    }
    &__heading {
        margin-right:auto;
        margin-left: auto;
        &--disable {
            display:none;
        }
    }
}