.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(147, 86, 220, 0.90);
    animation: loader 100ms both;
    animation-delay: 3700ms;
    @include flexbox(column,center,center);
    &__icon {
        opacity: 0;
        @include flexbox(row,center,center);
        height: em(100);
        width: em(100);
        /*background-color: $colour-primary;*/
        @include background-gradient(-10deg,$colour-primary, 0%, $colour-secondary, 100%, true);
        color : $colour-tertiary;
        @include box-shadow(0px, 6px, 12px, rgba(0, 0, 0, 0.2));
        @include rounded(em(100));
        i {
            font-size: em(50);
        }
        animation : icon 2000ms both ease-in-out;
        animation-delay: 250ms;
    }
    &__heading {
        opacity:0;
        margin-top:em(-25);
        @extend %h1;
        @include police(4,600);
        @include mobile-only {
            @include police(2.5,600);
        }
        display: inline-block;
        letter-spacing: em(2);
        color: black;
        box-sizing: border-box;
        animation: heading 2100ms linear forwards;
        animation-delay: 1700ms;
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        z-index: 10000;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }
} 

@keyframes icon{
    0% {
        opacity: 1;
        transform: scale(0);
    }
    100% {
        opacity: 0;
        transform: scale(6);
        }
    }

@keyframes heading {
    0% , 20% {
        opacity: 0;
        letter-spacing: em(20);
    }
    65% , 95% {
        opacity: 1;
        letter-spacing: em(1);
    }
    95% , 100% {
        opacity: 0;
    }
}

@include mobile-only {
    @keyframes icon{
        0% {
            opacity: 1;
            transform: scale(0);
        }
        100% {
            opacity: 0;
            transform: scale(4);
            }
        }
    @keyframes heading {
        0% , 20% {
            opacity: 0;
            letter-spacing: em(10);
        }
        65% , 95% {
            opacity: 1;
            letter-spacing: em(1);
        }
        95% , 100% {
            opacity: 0;
        }
    }
}