html, body {
    font-family: 'Roboto', sans-serif;
    font-size : $base-font-size;
}

%h1 {
    font-family: 'Shrikhand', cursive;
}

h1 {
    @extend %h1;
    @include police(2,lighter);
    margin: em(8) 0;
}

h2 {
    @include police(1.6,700);
    margin: em(8) 0;
}

h3 {
    @include police(1.2,100);
    margin: em(6) 0;
}

h4 {
    @include police(1.05,100);
    margin:0;
    text-transform: uppercase;
}

.bloc__heading {
    @include police(1.2,700);
    color:black;
    margin:0;
}

.bloc__byline {
    @include police(1.1,100);
    color:black;
}

/*footer {
    
}*/