html, body {
    font-family: 'Roboto', sans-serif;
    font-size : $base-font-size;
}

h1 {
    font-family: 'Shrikhand', cursive;
    @include police(2,lighter);
    margin: em(8) 0;
}

h2 {
    @include police(1.6,700);
    margin: em(8) 0;
}

h3 {
    @include police(1.2,100);
    margin: em(6) 0;
}

/*.bloc__heading {

}

.bloc__byline {

}

footer {
    
}*/