/* --------------------------*/
/*      Localization         */
.localization {
    background-color: $colour-background-section;
    height: 340px;
    &__form {
        margin-bottom: em(35);
        @include tablet-and-desktop {
            margin-bottom: em(55);
        }
        background-color: $colour-background-form;
        @include box-shadow(em(0), em(3), em(4), #D0D0D0, true);
    }
    &__heading {
        text-align: center;
        padding: 0 em(50);
    }
    &__byline {
        margin-bottom: em(45);
        @include tablet-and-desktop {
            margin-bottom: em(65);
        }
        text-align: center;
        padding: 0 em(20);
    }
    &__button {
        margin-bottom: em(35);
        text-align: center;
    }
}

#localization__form {
    @include flexbox(row,center,null,null);  
    padding: em(18) em(0);
    i {
        width: em(45);
        color: $colour-background-footer;
        text-align: center;
    }
    input {
        background-color: $colour-background-form;
        border: 0px;
        width: em(135);
        @include police(1.1,500);
    }
    input::placeholder {
        color:$colour-background-footer;
    }
}
/* --------------------------*/

#operating {
    background-color: $colour-background;
}

/* --------------------------*/
/* Operating et restaurants   */

#step1 i {
    font-size : em(20)!important;
}

#restaurants {
    background-color: $colour-background-section;
}

.section {
    padding-top : em(40);
    padding-bottom : em(70);
    @include flexbox(column,null,null,1.5em);
    &__heading {
        padding-left: em(15);
        text-align: left;
        @include tablet-and-desktop{
            text-align: center;
        }
    }
    &__all-buttons {
        @include flexbox(column,null,null,1.5em);
        @include desktop-only {
            flex-direction: row;
            margin-left: auto;
            margin-right: auto;
            gap:em(0);
            width: 100%;
        }
    }
    &__button {
        @include flexbox(row,center,center);
        margin-right: em(5);
        padding-left: em(15);
        padding-right: em(15);
        width: 100%;
        span {
            z-index: 1;
            width:em(22);
            height:em(22);
            text-align: center;
            background-color: $colour-primary;
            @include rounded(em(50));
            @include police (1,400);
            line-height: em(22);
            color:$colour-background;
        }
        button > i {
            color: $colour-icon;
        }
        button {
            width:100%;
            margin-left: em(-10);
            @include flexbox(row,null,center,1.5em);
            background-color: $colour-background-section;
            @include border(0px);
            @include rounded(1em);
            padding : em(25) em(30);
            @include police (1.05,500);
            @include box-shadow(0px, 6px, 12px, rgba(0, 0, 0, 0.2));
            &:hover {
                background-color: $colour-button-hover!important;
                }
            &:hover > i {
                color: $colour-primary;
            }
        }
    } 
    &-cards {
        @include flexbox(column,null,center,em(18));
        @include desktop-only {
            flex-direction: row;
        }
        padding-left: em(15);
        padding-right: em(15);
    }
    &-card {
        height:250px;
        width:100%;
        @include flexbox (column);
        @include rounded (em(15));
        @include box-shadow(0px, 6px, 12px, rgba(0, 0, 0, 0.2));
    }
    &-card__image {
        img {
            height : 170px;
            width : 100%;
            object-fit: cover;
            object-position: 0% 80%;
            @include tablet-only {
                object-position: unset;
            }
            @include rounded (em(15) em(15) 0px 0px);
        }
        span {
            position:absolute;
            z-index: 1;
            margin-left: em(-97);
            margin-top: em(15);
            text-align: center;
            background-color: $colour-background-new;
            @include police (0.9,500);
            @include rounded (em(2));
            padding: em(6) em(10);
            color:$colour-police-new;
        }
        &--focus img {
            object-position: 50% 60%!important;
        }
    }
    &-card__resume {
        @include flexbox (row,space-between,center);
        margin-right : em(20);
        margin-left : em(10);
        margin-top : em(12);
    }
    &-card__text {
        @include flexbox (column,null,null,em(5));
    }
    &-card__icon {
        position: relative;
        &--visible {
            font-size: em(25);
            color: black;
        }
        &--hidden {
            @include absolute-position;
            background: linear-gradient($colour-primary, $colour-secondary);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            opacity:0;
            transition: opacity 2s;
            i {
                font-size: em(25);
            }
        }
        &--hidden:hover {
            opacity:1;
        }
    }
}