main {
    background-color: $colour-background-section;
}

#image-restaurant {
    max-height : 500px;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

#menu-restaurant {
    z-index: 1;
    position:relative;
    margin-top:em(-25);
    background-color: $colour-background-section;
    @include rounded(em(26) em(26) 0 0); 
}

.section-title {
    padding:em(20) em(15) 0 em(15);
    @include flexbox(row, space-between, center, em(30));
    &__heading {
        @include police (0.9,lighter);
    }
    &__icon {
        cursor: pointer;
    }
}

.section-menu {
    @include flexbox(column,null,null,em(16));
    padding-top: em(20);
    padding-bottom: em(40);
    &__heading {
        padding-left:em(15);
    }
    &__heading::after {
        @include separator();
    }
    &-plat {
        @include flexbox(row,null,center);
        @include box-shadow(0px, 6px, 12px, rgba(0, 0, 0, 0.2));
        background-color: $colour-background;
        @include rounded (em(15));
        margin-left: 2.5%;
        margin-right: 2.5%;
        overflow: hidden;
        animation: menu $anim-duration both ease-in-out;
        @for $i from 1 through $num-menu {
            &--#{$i} {
                animation-delay : $anim-delay * $i;
            }
        }
        &-text {
            @include flexbox(column,null,null,em(5));
            width:100%;
            padding: em(11) em(15);
            &__byline {
                @include flexbox(row, space-between,center);
            }
            &__byline > div {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &__choice {
            background-color: $colour-tertiary;
            /*margin: -1em -5em -1em 1em;*/
            width: 4em;
            display: flex; 
            align-items: center;
            justify-content: center;
            transition-duration: 0.5s;
        }
        /*&__icon {
            &--disable {
                display: none;
            }
        }*/
    }
    &__button {
        padding-bottom: em(35) ;
        margin-left: auto;
        margin-right: auto;
        & a {
            padding-left: em(45);
            padding-right: em(45);
        }
    }
}