main {
    background-color: $colour-background-section;
}

#image-restaurant {
    max-height : 500px;
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

#menu-restaurant {
    z-index: 1;
    position:relative;
    margin-top:em(-25);
    background-color: $colour-background-section;
    @include rounded(em(26) em(26) 0 0); 
}

.section-title {
    padding:em(20) em(15) 0 em(15);
    @include flexbox(row, space-between, center, em(30));
    &__heading {
        @include police (0.9,lighter);
    }
    &__icon {
        cursor: pointer;
    }
}

.section-menu {
    @include flexbox(column,null,null,em(16));
    padding-top: em(20);
    padding-bottom: em(40);
    @include desktop-only {
        padding-left: 2%;
        padding-right: 2%;
    }
    @include desktop-only {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &__heading {
        padding-left:em(15);
        width: 100%;
    }
    &__heading::after {
        @include separator();
    }
    &-plat {
        @include flexbox(row);
        @include box-shadow(0px, 6px, 12px, rgba(0, 0, 0, 0.2));
        background-color: $colour-background;
        @include rounded (em(15));
        margin-left: 2.5%;
        margin-right: 2.5%;
        overflow: hidden;
        animation: menu $anim-duration both ease-in-out;
        @for $i from 1 through $num-menu {
            &--#{$i} {
                animation-delay : $anim-delay * $i;
            }
        }
        @include desktop-only {
            width: 31%;
            margin-left: 0.5%;
            margin-right: 0.5%;
        }
        &-text {
            @include flexbox(column,null,null,em(5));
            width:100%;
            padding: em(11) em(15);
            @include overflow;
            &__heading {
                @include overflow;
            }
            &__byline {
                @include flexbox(row, space-between,center,em(5));
            }
            &__byline > div {
                @include overflow;
            }
        }
        &__choice {
            @include flexbox(row,center,center);
            background-color: $colour-tertiary;
            margin: em(-15) em(-75) em(-15) em(15);
            width: em(75);
            transition-duration: 0.5s;
        }
        &__icon {
            @include flexbox(row,center,center);
            height: em(22);
            width: em(22);
            background-color: white;
            color : $colour-tertiary;
            @include rounded(em(100));
            transform: rotate(0deg);
            transition-duration: 0.5s;
        }
        &:hover &__choice {
            margin-right: 0em;
        }
        &:hover &__icon {
            transform: rotate(360deg);
        }
    }
    &__button {
        padding-bottom: em(35) ;
        margin-left: auto;
        margin-right: auto;
        & a {
            padding-left: em(45);
            padding-right: em(45);
        }
    }
}