@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        box-shadow:inset $top $left $blur $color;
    } @else {
        box-shadow: $top $left $blur $color;
    }
}

@mixin background-gradient($deg, $color1, $param1, $color2, $param2, $linear: false) {
    @if $linear {
        background:linear-gradient($deg, $color1 $param1, $color2 $param2);
    } @else {
        background:radial-gradient(circle, $color1 $param1, $color2 $param2);
    }
}

@mixin flexbox($direction, $content:unset, $items:unset, $gap:unset) {
    display:flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    gap: $gap;
}

@mixin police($size:unset, $weight:unset) {
    font-size: calc($size * 1em);
    font-weight: $weight;
}

@mixin rounded($radius: 0.5em) {
    border-radius: $radius;
}

@mixin border($width:unset, $style:none, $color:$colour-background-section) {
    border : $width $style $color;
}

@mixin separator($color:$colour-tertiary) {
    content: "";
    display: block;
    width : 3em;
    padding-top: em(3);
    border-bottom: em(3) solid $color;
}

@mixin absolute-position {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

@mixin overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin tablet-only {
    @media screen and (min-width: (map-get($breakpoints, mobile) + 1px)) and (max-width: map-get($breakpoints, tablet)) {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: (map-get($breakpoints, tablet) + 1px)) {
        @content;
    }
}

@mixin tablet-and-desktop {
    @media screen and (min-width: (map-get($breakpoints, mobile) + 1px)) {
        @content;
    }
}