$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$colour-background : white;
$colour-background-form : #e9e9e9;
$colour-background-section : #f6f6f6;
$colour-background-footer : #383838;
$colour-icon : #7d7d7d;
$colour-button-hover : #f5ecfe;
$base-font-size: 15px!default;