/* ----------  */
/* font-size  */
$base-font-size: 15px!default;
/* ----------  */
/* colors */
$colour-primary: #9356DC;
$colour-primary-lighten:lighten(#9356DC,5);
$colour-secondary: #FF79DA;
$colour-secondary-lighten: lighten(#FF79DA,5);
$colour-tertiary: #99E2D0;
$colour-background : white;
$colour-background-form : #e9e9e9;
$colour-background-section : #f6f6f6;
$colour-background-footer : #383838;
$colour-icon : #7d7d7d;
$colour-button-hover : #f5ecfe;
$colour-background-new :#8ee1cf;
$colour-police-new:#009173;
/* ----------  */
/* animations */ 
$num-menu : 9;
$num-submenu : 3;
$anim-duration : 1000ms;
$anim-delay : math.div($anim-duration, $num-submenu);